.texto {
  margin: 35px;
  padding: 20px;
}

.paragrafo-padrao {
  background-color: #dcdcdc;
  border-radius: 10px;
  border-color: black;
  border-style: dashed;
}

.paragrafo-destacado {
  background-color: #b54f8e;
}